# Hidden files
.Rhistory
.DS_Store
.Rproj.user/
tax-scripts/.RData

# Databases
databases/gg_13_5.taxonomy
databases/gg_13_5.fasta
databases/FWonly_7Sept2015.nhr
databases/FWonly_7Sept2015.nin
databases/FWonly_7Sept2015.nog
databases/FWonly_7Sept2015.nsd
databases/FWonly_7Sept2015.nsi
databases/FWonly_7Sept2015.nsq

# Other files
Taxonomy_Assignment_Scripts.Rproj
tax-scripts/tax-scripts.Rproj