# Hidden files
.Rhistory
.DS_Store
.Rproj.user/
tax-scripts/.RData

# Databases
databases/gg_13_5.taxonomy
databases/gg_13_5.fasta
databases/gg_13_8_99.taxonomy
databases/gg_13_8_99.fasta
databases/*.nhr
databases/*.nin
databases/*.nog
databases/*.nsd
databases/*.nsi
databases/*.nsq
databases/*.8mer
databases/*.numNonZero
databases/*.prob
databases/*.sum
databases/*.train

# Data Directories
processedData
rawData
plots

# Other files
Taxonomy_Assignment_Scripts.Rproj
tax-scripts/tax-scripts.Rproj
workflow-flowchart.pptx
Rplot*.pdf
mothur.*


.Rproj.user
