# Hidden files
.Rhistory
.DS_Store
.Rproj.user/
tax-scripts/.RData
.Rproj.user

# Databases
FreshTrain-files/gg_13_5.fasta
FreshTrain-files/gg_13_5.taxonomy
FreshTrain-files/FreshTrain18Aug2016
FreshTrain-files/FreshTrain11Feb2016

# Data Directories
processedData
rawData
plots

# Other files
Taxonomy_Assignment_Scripts.Rproj
tax-scripts/tax-scripts.Rproj
workflow-flowchart.pptx
Rplot*.pdf
mothur.*

# Marathonas Analysis Folders
arb-scripts/Marathonas_test/v4_mara/
arb-scripts/Marathonas_test/v4v5_mara/
arb-scripts/Marathonas_test/v3v4_mara/
arb-scripts/Marathonas_test/v6_mara/

# temp hide
arb-scripts/Marathonas_test/add-tax-scripts-and-databases